h1 {text-align: center;}
h2 {text-align: left;}
body{
    background-color: #C3E0E5;
}
img {
    image-orientation: from-image;
    height: 200px;
    width: 300px;
}
.card_hotel{
    width: 800px;
    margin-left: 200px;
    background-color: #5885AF;
    border-radius: 12px;
    padding: 10px;
    height: 200px;
}
.h_t{
    text-align: center;
}
.filter{
    margin-right: 0px;
    margin-top: 32px;
    margin-right: 300px;
    position:absolute;
    top:0;
    right:0;
}
a{
    text-decoration: none;
    color: honeydew;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background-color: #274472;
    color: honeydew;
}
.desc_hotel{
    margin-left: 10px;
}
.title_hotel{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.h_t{
    margin-top: 5px;
} 