<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static' , filename='node_modules/bootstrap/dist/css/bootstrap.css')}}">
     <link rel="stylesheet" href="{{url_for('static' , filename ='font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp.css') }}">
    <title>Previous Bookings</title>
</head>
<body background="{{ url_for('static', filename='img/background.jpg') }}">
	 <p align="right"><button class="btn btn-danger"><i class="fa fa-sign-out" aria-hidden="true"></i>  Sign out</button></p>
	<h4 align=" center">Choose to view your previous bookings</h4>
	<br><br><br>
	<form action="{{url_for('bookings')}}" method ="POST">
		<p align ="center">
 <input type="submit" value="Hotel" name="action"  class ="btn-darkblue btn text-white" ><br><br>
 <input type="submit" value="Transport" name="action"  class ="btn-skyblue btn text-white" ><br><br>
 <input type="submit" value="Back" name="action"  class ="btn-primary btn text-white" ><br><br>

</p>
</form>
 <script type="text/javascript" src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js')}}"></script>
   
</body>
</html>