<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkin_checkout</title>
    <style>
        h1 {text-align: center;}
        </style>
</head>
<body>
    <h1>Please Enter your Check In and Check Out dates</h1>
    <p align = "center">
        <form>
            <table align = "center">
                <tr>
                    <td>CHECK IN:</td>
                    <td><input type="date" placeholder="DD-MONTH-YYYY" name="check_in"></td>
                </tr>
                <tr>
                    <td>CHECK OUT:</td>
                    <td><input type="date" placeholder="DD-MONTH-YYYY" name="check_out"></td>
                </tr>
            </table>
        </form>
        <button type="button">continue</button>
    </p>
</body>
</html>