<!DOCTYPE html>
<html lang="en">
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="{{url_for('static' , filename ='font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp.css') }}">
    <link rel="icon" href="{{url_for('static' , filename ='img/fav.jpg')}}" type="image/x-icon"> 
    <title>Travel Planning Step 3</title>
</head>
<body background="{{ url_for('static', filename='img/background.jpg') }}">
  
        <div class="Box1">
           
            <h4 align="center">Travel Details : Confirmation</h4>
            <p align="center">
            Please check the below details and click "confirm" to make the booking. To make changes, click "back".    
            </p>
            

            
        <div class="card">
          <div class="card-body">
                <table align="center">
                
                   <tr class="card-header">
                       <th>Particulars</th>
                       <th>Choice</th>
                   </tr>
                   <tr>
                       <td>Travel Company</td>
                       <td>{{travel.travel_name}}</td>
                   </tr>
                   <tr>
                       <td>Departure</td>
                       <td> {{newTransport.from_dest}}</td>
                   </tr>
                   <tr>
                       <td>Arrival</td>
                       <td> {{newTransport.to_dest}}</td>
                   </tr>
                   <tr>
                       <td>Date of travel (Departure)</td>
                       <td>{{newTransport.depart_date}} </td>
                   </tr>
                   <tr>
                       <td>Date of travel (Arrival)</td>
                       <td>{{newTransport.arrival_date}} </td>
                   </tr>
                   <tr>
                       <td>Mode of transport</td>
                       <td> {{mode.mode_of_transport}}</td>
                   </tr>
                   
                    <tr>
                    <td>Number of tickets</td>
                    <td> {{newTransport.num_tickets}}</td>
                    </tr>


                    <tr>
                    <td>Price</td>
                    <td> {{newTransport.totprice}}</td>
                    </tr>


                </table>   
              </div>
              <div class="card-footer">
                <form action = "{{url_for('confirmtravel', newTransport_id =newTransport.booking_id ) }}" class = "MyForm" method ='POST'>
                <p align="center">
                <input type = "submit" name="action" value = "Confirm" class="btn btn-purple text-white"> 
                <input type ="submit" name="action" value ="Back" class="btn btn-darkviolet text-white">
                <input type="submit" name = "action" value ="Delete" class="btn btn-danger">
               
              </p>
            </form>
              </div>
       </div>
           

            

        </div>
    </body>

   
</html>