<!DOCTYPE html>
<html lang="en">
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="{{url_for('static' , filename ='font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp.css') }}">
    <title>Trip?</title>
</head>
<body background="{{ url_for('static', filename='img/background.jpg') }}">
 
        <div class="Box1">
            <form action="{{url_for('continued' , newTrip_id = trip.trip_id)}}" method ="POST">
            {% if trip.hotel_bookingnum  and trip.travel_bookingnum %}
                    <h4 align="center">Do you wish to book a room in a hotel or a flight ticket?</h4>
                    <h5 align="center">Oh, looks like you already have them booked, proceed to the home page by clicking on Return </h5>
                    <br><br><br>
                    
                    <p align ="center">          
                    
                    <input type="submit" value="Return" name="action"  class ="btn-rosepink btn text-white" ><br><br>
                    

                    </p>
              

               
            {% else %}
               {% if trip.hotel_bookingnum %}
                <h4 align="center">Do you wish to book a ticket for transport?</h4>
                        <br><br><br>
                       
                        <p align ="center">
                        <input type="submit" value="No" name="action"  class ="btn-rose btn text-white" ><br><br>
                        <input type="submit" value="Yes" name="action"  class ="btn-darkviolet btn text-white" ><br><br>
                        
                        

                        </p>
                    
                    

                    {% else %}
                        <h4 align="center">Do you wish to book a room in a hotel?</h4>
                        <br><br><br>
                        
                        <p align ="center">
                        <input type="submit" value="No" name="action"  class ="btn-rose btn text-white" ><br><br>
                        <input type="submit" value="Yes" name="action"  class ="btn-darkviolet btn text-white" ><br><br>
                       
                        

                        </p>
                    
                    {% endif %}
                    {% endif %}
            </form>    

         </div>
    </body>

   
</html>